#!/usr/bin/env bash

# source bashrc
alias zource="source ~/.zshrc"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# get the last branches
alias lb="git for-each-ref --sort=-committerdate --format='%(committerdate:short): %(align:30,left)%(refname:short)%(end) %(contents:subject)' refs/heads/"

# alias for boostrap
alias bootstrap="yadm bootstrap"

# make ls use colors
alias ls='ls -G'

# view all info in a folder
alias ll='ls -a -l -G'

# use bat instead of cat
alias cat='bat'


# make kitty copy settings to ssh hosts
alias ssh='kitty +kitten ssh'
