# See https://stackoverflow.com/a/29932318/11499360

# Blacklist files/folders in same directory as the .gitignore file
/*

# Lists all non-ignored files in the dotfiles directory
# Generate this list with `yadm list -a | pbcopy`
# TODO(lukemurray): figure out how to generate directories as well
!.Brewfile
!.aliases
!.asdfrc
!.bin/.gitkeep
!.color_aliases
!.config/
.config/*
!.config/bat/
.config/bat/*
!.config/bat/config
!.config/direnv/direnvrc
!.config/kitty/
.config/kitty/*
!.config/kitty/kitty.conf
!.config/kitty/theme.conf
!.config/kitty/zoom_toggle.py
!.config/spotify-tui/config.yml
!.config/spotifyd/spotifyd.conf
!.config/yadm/bootstrap
!.config/yadm/encrypt
!.default-python-packages
!.duti
!.exports
!.functions
!.gitconfig
!.github/
!.gitignore
!.gitignore
!.gitignore_global
!.gnupg/gpg-agent.conf
!.hushlogin
!.inputrc
!.local/share/yadm/archive
!.mackup.cfg
!.macos
!.p10k.zsh
!.phoenix.js
!.ssh/config
!.tmux.conf
!.tmux.conf.local
!.tool-versions
!.vscode/
.vscode/*
!.vscode/settings.json
!.zshrc
!Brewfile.lock.json